{% extends 'app_main/base.html' %}
{% load static %}
{% load i18n %}

{% block middle %}
    <div class="Middle Middle_top">
        <div class="Middle-top">
            <div class="wrap">
                <div class="Middle-header">
                    <h1 class="Middle-title">{% trans 'Товары' %}</h1>
                    <ul class="breadcrumbs Middle-breadcrumbs">
                        <li class="breadcrumbs-item">
                            <a href="{% url 'index' %}">{% trans 'Главная' %}</a>
                        </li>
                        {% if object.category.parent %}
                        <li class="breadcrumbs-item breadcrumbs-item_current">
                            <span>{{ object.category.parent }}</span>
                        </li>
                        {% endif %}
                        <li class="breadcrumbs-item breadcrumbs-item_current">
                            <span>{{ object.category }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Section">
            <div class="wrap">
                <div class="Product">
                    <div class="ProductCard">
                        <div class="ProductCard-look">
                            <div class="ProductCard-photo">
                                <img src='
                                    {% if object.images.first %}
                                        {{ object.images.first.image.url }}
                                    {% else %}
                                        {% static 'assets/img/content/home/noimage.jpg' %}
                                    {% endif %}' alt="product_image"/>
                            </div>
                            <div class="ProductCard-picts">
                                {% for image in object.images.all %}
                                <a class="{% if forloop.first %}ProductCard-pict ProductCard-pict_ACTIVE{% else %}ProductCard-pict{% endif %}"
                                   href="{{ image.image.url }}">
                                    <img src="{{ image.image.url }}" alt="product_image"/>
                                </a>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="ProductCard-desc">
                            <div class="ProductCard-header">
                                <h2 class="ProductCard-title">{{ object.name }}</h2>
                                <div class="ProductCard-info">
                                    <div class="ProductCard-cost">
                                        <div class="ProductCard-price">{{ object.price }} ₽</div>
                                    </div>
                                </div>
                            </div>
                            <div class="ProductCard-text">
                                {{ object.get_clear_description|linebreaks }}
                                <a href="#description">{% trans 'Полное описание' %} >>></a>
                            </div>
                            <form action="{% url 'cart_add' product.id %}" id="form_cart" method="post">
                                {% csrf_token %}
                                <div class="ProductCard-cart">
{#                                    <div class="ProductCard-cartElement ProductCard-cartElement_amount">#}
{#                                        <div class="Amount Amount_product">#}
{#                                            <button class="Amount-remove" type="button"></button>#}
{#                                            {{ cart_form }}#}
{#                                            <input class="Amount-input form-input" name="amount" type="text" value="1"/>#}
{#                                            <button class="Amount-add" type="button"></button>#}
{#                                        </div>#}
{#                                    </div>#}
                                    <div class="ProductCard-cartElement">
                                        <button class="btn btn_primary" type="submit" id="btn-submit">
                                            <img class="btn-icon" src="{% static 'assets/img/icons/card/cart_white.svg' %}" alt="cart_white.svg"/>
                                            <span class="btn-content">{% trans 'Добавить в корзину' %}</span>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="ProductCard-footer">
                                <div class="ProductCard-tags">
                                    {% if tags %}
                                        <strong class="ProductCard-tagsTitle">{% trans 'Теги' %}:</strong>
                                        {% for tag in tags %}
                                            <a href="#">{{ tag }}</a>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Tabs Tabs_default">
                        <div class="Tabs-links">
                            <a class="Tabs-link_ACTIVE Tabs-link" href="#description">
                                <span>{% trans 'Описание' %}</span>
                            </a>
                            <a class="Tabs-link" href="#addit">
                                <span>{% trans 'Дополнительная информация' %}</span>
                            </a>
                            <a class="Tabs-link" href="#reviews">
                                <span>{% trans 'Отзывы' %} ({{reviews|length}})</span>
                            </a>
                        </div>
                        <div class="Tabs-wrap">
                            {% include 'app_product/description.html' %}
                            {% include 'app_product/additional.html' %}
                            {% include 'app_product/reviews.html' %}
{#                            <div class="Tabs-block" id="sellers">#}
{#                                <div class="Categories Categories_product">#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}