{% extends "app_main/base.html" %}
{% load static %}
{% load cart_tag %}
{% load i18n %}

{% block middle %}
<div class="Middle Middle_top">
    <div class="Middle-top">
        <div class="wrap">
            <div class="Middle-header">
                <h1 class="Middle-title">{% trans 'Корзина' %}</h1>
                <ul class="breadcrumbs Middle-breadcrumbs">
                    <li class="breadcrumbs-item">
                        <a href="{% url 'index' %}">{% trans 'Главная' %}</a>
                    </li>
                    <li class="breadcrumbs-item breadcrumbs-item_current">
                        <span>{% trans 'Корзина' %}</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="Section">
        <div class="wrap">
            {% if not request.session.cart.items %}
            <p>{% trans 'Ваша корзина пуста' %}</p>
            <p><a href="{% url 'index' %}">{% trans 'Продолжить покупки' %}</a></p>

            {% else %}
            {% for key,value in request.session.cart.items %}
            <form class="form" id="cart_form" method="post" action="#">
                <div class="Cart-product">
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_pict">
                            <a class="Cart-pict" href="{{ value.url }}">
                                <img class="Cart-img" src='{% if value.image %}{{ value.image }}{% else %}{% static "/assets/img/content/home/bigGoods.png" %}{% endif %}' alt="good's image"/>
                            </a>
                        </div>
                        <div class="Cart-block Cart-block_info"><a class="Cart-title" href="{{ value.url }}">{{ value.name }}</a>
                            <div class="Cart-desc">{{ value.description|linebreaks }}</div>
                        </div>
                        <div class="Cart-block Cart-block_price">
                            <div class="Cart-price" id="product-price">{{ value.price|multiply:value.quantity }}</div>
                        </div>
                    </div>
                    <div class="Cart-block Cart-block_row">
                        <div class="Cart-block Cart-block_seller">
                            <!-- - var options = setOptions(items, ['value', 'selected', 'disabled']);-->
                        </div>
                        <div class="Cart-block Cart-block_amount">
                            <div class="Cart-amount">
                                <div class="Amount">
                                    <a style="display: inline-block; min-width: 56px; height: 56px; line-height: 56px; border: 1px solid transparent; background-color: #ebebeb; transition: all 300ms; margin-right: 10px; text-align: center; vertical-align: middle; color: buttontext;" onmouseover="this.style.backgroundColor='#d2e7ff'; this.style.borderColor='#0063d1'" onmouseout="this.style.backgroundColor='#ebebeb'; this.style.borderColor='transparent';" href="{% url 'item_decrement' value.product_id %}">—</a>
                                    <div class="Amount-input" style="width: 100%; box-sizing: border-box; border-radius: 0px; border: 1px solid #e0e0e0; background-color: #f9fafc; line-height: 46px;">
                                        {{ value.quantity }}
                                    </div>
                                    {% if value.quantity < value.stock %}
                                    <a style="display: inline-block; min-width: 56px; height: 56px; line-height: 56px; border: 1px solid transparent; background-color: #ebebeb; transition: all 300ms; margin-left: 10px; text-align: center; vertical-align: middle; color: buttontext;" onmouseover="this.style.backgroundColor='#d2e7ff'; this.style.borderColor='#0063d1'" onmouseout="this.style.backgroundColor='#ebebeb'; this.style.borderColor='transparent';" href="{% url 'item_increment' value.product_id %}">+</a>
                                    {% else %}
                                    <a style="display: inline-block; min-width: 56px; height: 56px; line-height: 56px; border: 1px solid transparent; background-color: #fdfdfd; transition: all 300ms; margin-left: 10px; text-align: center; vertical-align: middle; color: #d7d7d7;" href="#">+</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="Cart-block Cart-block_delete">
                            <a class="Cart-delete" href="{% url 'item_clear' value.product_id %}">
                                <img src="{% static 'assets/img/icons/card/delete.svg' %}" alt="Delete"/>
                            </a>
                        </div>
                    </div>
                </div>
            </form>
            {% endfor %}

            <div class="Cart-total">
                <div class="Cart-block Cart-block_total">
                    <strong class="Cart-title">{% trans 'Итого' %}:
                    </strong><span class="Cart-price">{{ cart_total_price }}₽</span>
                </div>
                <div class="Cart-block">
                    <button class="btn btn_success btn_lg" type="button"
                            onclick="window.location.href = '#';">
                        {% trans 'Оформить заказ' %}
                    </button>

                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}