{% load static %}
{% load i18n %}

<div class="wrap">
    <div class="BannersHome">
        {% for category, price in cats.items %}
            <a class="BannersHomeBlock" href="#">
                <div class="BannersHomeBlock-row">
                    <div class="BannersHomeBlock-block">
                        <strong class="BannersHomeBlock-title">{{ category.name }}</strong>
                        <div class="BannersHomeBlock-content">{% trans 'от' %}
                            <span class="BannersHomeBlock-price">{{ price }} ₽</span>
                        </div>
                    </div>
                    <div class="BannersHomeBlock-block">
                        <div class="BannersHomeBlock-img">
                            <img src="{{ category.image.url }}" alt="{{ category.name }}"/>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>

