{% load static %}
{% load i18n %}

<footer class="Footer">
    <div class="wrap">
        <div class="row Footer-main">
            <div class="row-block">
                <a class="logo Footer-logo" href="index.html">
                    <img class="logo-image" src="{% static 'assets/img/logo_footer.png' %}" alt="logo_footer.png"/>
                </a>
                <p>{{ site_settings.description }}</p>
                <ul class="menu menu_img menu_smallImg Footer-menuSoc">
                    <li class="menu-item">
                        <a class="menu-link" href="#">
                            <img src="{% static 'assets/img/icons/socialFooter/fb.svg' %}" alt="fb.svg"/>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">
                            <img src="{% static 'assets/img/icons/socialFooter/tw.svg' %}" alt="tw.svg"/>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">
                            <img src="{% static 'assets/img/icons/socialFooter/in.svg' %}" alt="in.svg"/>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">
                            <img src="{% static 'assets/img/icons/socialFooter/pt.svg' %}" alt="pt.svg"/>
                        </a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">
                            <img src="{% static 'assets/img/icons/socialFooter/mail.svg' %}" alt="mail.svg"/>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="row-block">
                <strong class="Footer-title">Useful Links</strong>
                <ul class="menu menu_vt Footer-menu">
                    <li class="menu-item">
                        <a class="menu-link" href="#">Checkout</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">My Cart</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Delivery</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Order Info</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Terms</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-link" href="#">Conditions</a>
                    </li>
                </ul>
            </div>
            <div class="row-block">
                <strong class="Footer-title">{% trans 'Все категории' %}</strong>
                <ul class="menu menu_vt Footer-menu">
                    {% if base_menu %}
                        {% for category in base_menu|slice:10 %}
                        <li class="menu-item">
                            <a class="menu-link" href="{% url 'catalog_for_category' category.slug %}">
                                {{ category.name }}
                            </a>
                        </li>
                        {% endfor %}
                    {% endif %}
                </ul>
            </div>
            <div class="row-block">
                <strong class="Footer-title">{% trans 'Контактная информация' %}</strong>
                <p>{% trans 'Телефон' %}: {{ site_settings.phone_number }}<br>
                    Email: {{ site_settings.email }}<br>
                    {% trans 'Город' %}: {{ site_settings.city }}<br>
                    {% trans 'Адрес' %}: {{ site_settings.address }}
                </p>
            </div>
        </div>
    </div>
    <div class="Footer-copy">
        <div class="wrap">
            <div class="row row_space">
                <div class="row-block">
                    © Copyright <a href="{% url 'index' %}">Megano Store.</a> All rights reserved.
                </div>
                <div class="row-block"><span>Accepted Payments</span>
                    <div class="Footer-payments">
                        <div><img src="{% static 'assets/img/payments/visa.png' %}" alt="visa.png"/>
                        </div>
                        <div><img src="{% static 'assets/img/payments/mastercard.png' %}" alt="mastercard.png"/>
                        </div>
                        <div><img src="{% static 'assets/img/payments/paypal.png' %}" alt="paypal.png"/>
                        </div>
                        <div><img src="{% static 'assets/img/payments/american.png' %}" alt="american.png"/>
                        </div>
                        <div><img src="{% static 'assets/img/payments/electron.png' %}" alt="electron.png"/>
                        </div>
                        <div><img src="{% static 'assets/img/payments/maestro.png' %}" alt="maestro.png"/>
                        </div>
                        <div><img src="{% static 'assets/img/payments/delta.png' %}" alt="delta.png"/>
                        </div>
                        <div><img src="{% static 'assets/img/payments/e.png' %}" alt="e.png"/>
                        </div>
                        <div><img src="{% static 'assets/img/payments/dk.png' %}" alt="dk.png"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>