{% extends 'app_main/base.html' %}
{% load static %}
{% load i18n %}

{% block middle %}
    <div class="Middle">

{#        Блок "избранные категории"#}
        <div class="Section">
            {% include 'app_main/categories.html' %}
        </div>

{#        Блок "популярные товары"#}
        <div class="Section Section_column Section_columnDesktop">
            {% include 'app_main/popular.html' %}
        </div>

{#        Блок "ограниченная серия"#}
        <div class="Section Section_column Section_columnRight">
            <div class="wrap">
                {% include 'app_main/right_column.html' %}
                {% include 'app_main/limited.html' %}
            </div>
        </div>
    </div>
{% endblock %}

