{% load static %}
{% load i18n %}


<div class="Section-column">
    <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
            <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/shipping.svg' %}" alt="shipping.svg"/>
            </div>
            <div class="media-content">
                <strong class="media-title">{% trans 'Доставка и возврат' %}</strong>
                <p class="media-text">{% trans 'Доставка по всему миру' %}</p>
            </div>
        </div>
    </div>
    <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
            <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/moneyBack.svg' %}" alt="moneyBack.svg"/>
            </div>
            <div class="media-content">
                <strong class="media-title">{% trans 'Возврат средств' %}</strong>
                <p class="media-text">{% trans 'Гарантированные выплаты' %}</p>
            </div>
        </div>
    </div>
    <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
            <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/support.svg' %}" alt="support.svg"/>
            </div>
            <div class="media-content">
                <strong class="media-title">{% trans 'Поддержка клиентов' %}</strong>
                <p class="media-text">{% trans 'Круглосуточно оказываем помощь' %}</p>
            </div>
        </div>
    </div>
    <div class="Section-columnSection Section-columnSection_mark">
        <div class="media media_advantage">
            <div class="media-image">
                <img src="{% static 'assets/img/icons/advantages/quality.svg' %}" alt="quality.svg"/>
            </div>
            <div class="media-content">
                <strong class="media-title">{% trans 'Гарантия качества' %}</strong>
                <p class="media-text">{% trans 'Гарантированно лучшие товары' %}</p>
            </div>
        </div>
    </div>
</div>