{% extends 'app_users/app_users_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="Section-content">
        <div class="Profile">
            <div class="row">
                <div class="row-block">
                    <h1 class="form-label">{% trans 'Пароль успешно изменен' %}!</h1>
                    <p>{% trans "Теперь вы можете войти с новым паролем" %}:
                        <a href="{% url 'login' %}">{% trans "Войти" %}</a>
                    </p>
                </div>
                <div class="row-block">
                </div>
            </div>
        </div>
    </div>
{% endblock %}