{% extends 'app_users/app_users_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="Section-content">
        <div class="Profile">
            <div class="row">
                <div class="row-block">
                    <p class="form-label">
                        {% trans 'Мы отправили письмо со ссылкой для сброса пароля на ваш email.' %}
                    </p>
                    <p class="form-label">
                        {% trans 'Если оно не пришло, проверьте папку со спамом.' %}
                    </p>
                </div>
                <div class="row-block"></div>
            </div>
        </div>
    </div>
{% endblock %}