{% extends 'app_users/app_users_base.html' %}
{% load i18n %}
{% load static %}

{% block content %}
    <div class="Section-content">
        <div class="Account">
            <div class="Account-group">
                <div class="Account-column">
                    {% if user.avatar %}
                        <div class="Account-avatar"><img src="{{ user.avatar.url }}" alt="card.jpg"/></div>
                    {% else %}
                        <div class="Account-avatar">
                            <img src="{% static 'assets/img/no_img.jpg' %}" alt="card.jpg"/>
                        </div>
                    {% endif %}
                </div>
                <div class="Account-column">
                    <div class="Account-name">{{ user.full_name }}</div>
                    <a class="Account-editLink" href="{% url 'edit_profile' %}">{% trans 'Редактировать профиль' %}</a>
                </div>
            </div>

        {% if request.user.orders.first %}
        {% with order=request.user.orders.first %}
            <div class="Account-group">
                <div class="Account-column Account-column_full">
                    <div class="Order Order_anons">
                        <div class="Order-personal">
                            <div class="row">
                                <div class="row-block">
                                    <a class="Order-title" href="{% url 'order_detail' order.id %}">
                                        {% trans 'Заказ' %}
                                        <span class="Order-numberOrder"> №{{ order.id }}</span>
                                        {% trans 'от' %}
                                        <span class="Order-dateOrder">{{ order.created|date:"d.m.Y" }}</span>
                                    </a>
                                    <div class="Account-editLink">
                                        <a href="{% url 'orders_history' %}">
                                            {% trans 'История заказов' %}
                                        </a>
                                    </div>
                                </div>
                                <div class="row-block">
                                    <div class="Order-info Order-info_delivery">
                                        <div class="Order-infoType">{% trans 'Тип доставки' %}:</div>
                                        <div class="Order-infoContent">{{ order.get_delivery_type_display }}</div>
                                    </div>
                                    <div class="Order-info Order-info_pay">
                                        <div class="Order-infoType">{% trans 'Оплата' %}:</div>
                                        <div class="Order-infoContent">{{ order.get_payment_type_display }}</div>
                                    </div>
                                    <div class="Order-info">
                                        <div class="Order-infoType">{% trans 'Общая стоимость' %}:</div>
                                        <div class="Order-infoContent">{{ order.get_total_cost }} ₽</div>
                                    </div>
                                    <div class="Order-info Order-info_status">
                                        <div class="Order-infoType">{% trans 'Статус' %}:</div>
                                        <div class="Order-infoContent">
                                            {% if order.paid %} {% trans 'Оплачен' %} {% else %} {% trans 'Не оплачен' %} {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endwith %}
        {% endif %}
        </div>
    </div>
{% endblock %}
